<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no"/>
<link href="../Common/images/icons/favicon.ico" rel="icon" type="image/x-icon" />

<title>
    {{#is language "en"}}
        {{title_en}}
    {{else}}
        {{title_ar}}
    {{/is}}
</title>

{{#is production "true"}}
    {{#is language "en"}}
        <link rel="stylesheet" href="../{{filesDirectory}}/css/style.min.css?v={{version}}">
    {{else}}
        <link rel="stylesheet" href="../{{filesDirectory}}/css/style-ar.min.css?v={{version}}">
    {{/is}}
{{else}}
    {{#is language "en"}}
        <link rel="stylesheet" href="../{{filesDirectory}}/css/style.css?v={{version}}">
    {{else}}
        <link rel="stylesheet" href="../{{filesDirectory}}/css/style-ar.css?v={{version}}">
    {{/is}}
{{/is}}
